{#
/**
 * @file
 * Default theme implementation for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 *
 * @see template_preprocess_file_link()
 *
 * @ingroup themeable
 * <span{{ attributes }}>{{ link }}</span>
 */
#}
<img src={{ filepath }} alt="Preview" width="100" height="100" >